@import "tailwindcss";
#root {
  /* max-width: 1280px;
  margin: 0 auto;
  padding: 2rem; */
  /* text-align: center; */
}

/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
} */
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.react-date-picker__wrapper{
  padding: 12px 0px !important;
  border-radius: 10px;
}


.scroll-style::-webkit-scrollbar {
  width: 3px; /* Remove extra values */
  height: 3px;
}

.scroll-style::-webkit-scrollbar-track {
  background: transparent;
}

.scroll-style::-webkit-scrollbar-thumb {
  background-color: #e2baba;
  border-radius: 10px;
}

.ant-dropdown-menu{
  background: #1E2939 !important;
  color: white !important;
}
.ant-dropdown-menu-title-content{
  color: white !important;
}
.ant-dropdown-menu-item:hover{
  background: #333d4d !important;
}
.ant-dropdown-menu{
  max-height: 300px !important;
  height: 100% !important;
  max-width: 200px !important;
  width:100% !important;
}
.ant-dropdown-menu::-webkit-scrollbar{
  width: 3px; /* Remove extra values */
  height: 3px;
}
.ant-dropdown-menu::-webkit-scrollbar-track{
 background: transparent;
}

.ant-dropdown-menu::-webkit-scrollbar-thumb {
  background-color: #e2baba;
  border-radius: 10px;
}

.ant-select-selector{
  height: 30px !important;
}

.ant-select-selection-wrap{
  background: transparent !important;
}
.ant-select-selection-wrap > span{
  background: transparent !important;
  color: white !important;
}
.ant-select-selector{
  background-color: transparent !important;
  color: white !important;
  height: 40px !important;
}
.ant-select-selection-item{
  /* background-color: gray !important; */
  background: transparent !important;
  
}

.ant-select-selection-item{
  background: transparent !important;
}


.scroll-thin {
  overflow: auto;
  scrollbar-width: thin;       /* Firefox */
  scrollbar-color: #888 transparent;
}

/* Chrome, Edge, Safari */
.scroll-thin::-webkit-scrollbar {
  width: 0px;
  height: 1px;
}

.scroll-thin::-webkit-scrollbar-track {
  background: transparent;
}

.scroll-thin::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}
.no-spinner::-webkit-inner-spin-button,
.no-spinner::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.no-spinner {
  -moz-appearance: textfield; /* Firefox */
}

.ant-upload-list-item-thumbnail{
  color: white;
}

.ant-upload > button {
  color: white;
}
.ant-upload-select{
  display: inline-block !important;
}


.ant-modal-content{
  background-color: #1C1A2E !important;
}

.ant-modal-header{
  background-color: #1C1A2E !important;
  color: white !important;
}


.ant-select-selection-item{
  background-color: white !important;
  color: black !important;
}
.ant-select-selection-search > input{
  color: white !important;
}
.ant-select-selection-search-input{
  color: white !important;
}
.ant-select-selector{
  min-height: 45px !important;
  height: auto !important;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #282541 !important;
}

.ant-pagination-item{
  background: transparent !important;
  color: white !important;
  border: 1px solid gray !important;
}
.ant-pagination-item > a {
  color: white !important;
}
.ant-pagination-item-active {
  border: 1px solid #C8EE44 !important;
}
.ant-pagination-item-active > a {
  color:  #C8EE44 !important;
}
.ant-pagination-next{
  color: white !important;
}
.anticon-right{
  color: white !important;
}
.anticon-left{
  color: white !important;
}

.ant-select-selection-search{
  background: transparent !important;
  background-color: red !important;
}
.ant-select-selection-search-input{
  background: transparent !important;
  background-color: transparent !important;
  color: white !important;
}